html, body, #root {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}
.samehome{
    background-size: cover;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    max-width: 1400px;
    flex-wrap: wrap;    
}
/* img{
    cursor: pointer;
    width: 165px;
    height: auto;
} */
.logo{
    width: 5%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 70%; 
}   
.nav-links a{
    margin: 0 1rem; 
    text-decoration: none; 
    display: flex;
    align-items: center;
    color: #000;  
    font-size: 15px;
    position: relative;
    transition: all 0.3s ease;
}
.nav-links a:hover {
  transform: translateY(-3px);
}
.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #000;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;
}
.nav-links a:hover::before {
  transform: scaleY(1);
}
.btn-links{
    display: flex;
    justify-content: flex-end; 
    flex-wrap: wrap;
    width: 30%;
}
.searchbar{
    width: 55%;
    display: flex;
    margin-left: 1%;
    justify-content: flex-end;
}
/* .btn-links img{
    margin: 0 0.5rem; 
    width: auto;
    height: 38px;
    padding: 9px 0px;
    transition: all 0.5s ease;
} */
 
.btn-links .signIn:hover{
    background-color: #fee377;
    color: #000;
}
.allproductcarousel{
    width: 100%;
}
.carousel-inner2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.carl-img{
    width: 100%;
    margin: auto;
    border-radius: 26px
}
.arrow{
    font-size: 20px;
}
.page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.rightdiv {
    flex: 0 0 79%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
.leftDiv {
    flex: 0 0 20%;
    padding: 20px;
    position: sticky;
    top: 20px;
}
.page-footer {

  margin-top: 24%;
  width: 100%;
  background: transparent;
  padding: 16px 0;
}

.page-footer .pagination {
  margin: 0;
  display: flex;
  justify-content: center;
}

.rightdiv .card {
    min-width: 27%;
    height: auto;
    display: flex;
    margin: 40px 18px;
    border: none;
    box-shadow: none;
}
@media (max-width: 1440px) {
    .samehome {
        min-height: auto;
    }

    .allproductcarousel, .allproductcarousel .img {
        height: auto;
    }
    
    .carousel-inner2 {
        height: auto;
    }
}