html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #f7cbd8; */
}
.home{
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    max-width: 1400px;
    flex-wrap: wrap;    
}
img{
    cursor: pointer;
    width: 165px;
    height: auto;
}
.logo{
    width: 5%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 70%; 
}   
.nav-links a{
    margin: 0 1rem; 
    text-decoration: none; 
    display: flex;
    align-items: center;
    color: #000; 
    font-weight: bold; 
    font-size: 12px;
    position: relative;
    transition: all 0.3s ease;
}
.nav-links a:hover {
  transform: translateY(-3px);
}
.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #000;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;
}
.nav-links a:hover::before {
  transform: scaleY(1);
}
.btn-links{
    display: flex;
    justify-content: flex-end; 
    flex-wrap: wrap;
    width: 30%;
}
.searchbar{
    /* background-image: url("magnifying-glass.png"); */
    width: 55%;
    display: flex;
    margin-left: 1%;
    justify-content: flex-end;
}
.btn-links img{
    margin: 0 0.5rem; 
    width: auto;
    height: 38px;
    padding: 9px 0px;
    transition: all 0.5s ease;
}
.btn-links .signIn:hover{
    background-color: #fee377;
    color: #000;
}
.head1,.head2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 4px 0px 10px 0px;
    color: white;
    background-color: #353232;
    padding: 0.5%;
    border-radius: 30px;
    width: 100%;
}
.card-deck .img1{
    width: 100%;
    height: auto;
}
